.ackgroup {
    margin-bottom: 60px;
}

.ackgroup h2 {
    margin-bottom: 20px;
}

.ackgroup .ackbox {
    text-align: center;
}

.ackgroup .ackbox img {
    max-width: 80%;
    max-height: 200px;
}

.ackgroup .ackbox p {
    font-size: 18px;
}

.ackgroup .row + .row {
    margin-top: 30px;
}
