.jumbotron {
    text-align: center;
    background-color: transparent;
    margin-bottom: 0;
    padding-bottom: 30px;
}

.jumbotron #hi3-logo {
    height: 180px;
}

.jumbotron #caida-logo {
    height: 100px;
}

.jumbotron img + img {
    padding-left: 50px;
}

h3 {
    margin-top: 40px;
}

.jumbotron + h3 {
    margin-top: 0;
}

.btn-lg + .btn-lg {
    margin-left: 20px;
}
