// GRID
$grid-width: 114rem;
$gutter-vertical: 4.5rem;
$gutter-horizontal: 2.5rem;
$gutter-vertical-small: 2.5rem;
$header-height: 5rem;

// FONTS
$font-lato: 'Lato', sans-serif;
$font-nunito: 'Nunito', sans-serif;
$font-ubuntu: 'Ubuntu', sans-serif;

// SIZING
$control-panel-input-label-font-size: 1.1rem;
$control-panel-input-calendar-icon-background: #ECF0F1;

// COLORS
$color-white: #fff;
$color-black: #000;
$color-background-white: #fbfbfb;
$color-primary: #2c3e50;
$color-primary-light: #617486;
$color-primary-dark: #0D2032;
$color-secondary: #5899AE;
$color-secondary-light: #7FB7CA;
$color-secondary-dark: #286F86;
//$color-secondary: #d66a35;
//$color-secondary-light: #FFB08B;
//$color-secondary-dark: #B24B18;
$color-blue-border: #DCE4EA;

$color-table-row-odd: #f7f7f7;
$color-table-cell-border: #eeeeee;
$color-table-head-border: #798998;

$color-alert-feed-critical: #F18179;
$color-alert-feed-warning: #F2AB79;
$color-alert-feed-normal: #D4F19D;

$color-error-background: #E74C3C;

$color-ping-slash-24: #1F78B4;
$color-bgp: #33A02C;
//$color-ucsd-nt-original: #BE1D2D;
// antique Fuchsia
$color-ucsd-nt1: #995D81;
// Cyber Grape
$color-ucsd-nt1: #49306B;
// honey yellow
$color-ucsd-nt1: #F6AE2D;
// burnt sienna
$color-ucsd-nt1: #DE6B48;
// eggplant
$color-ucsd-nt1: #60495A;
// carrot
$color-ucsd-nt: #ED9B40;


// oxford blue
//$color-ucsd-nt: #091540;
// light blue
//$color-ucsd-nt: #A8D0DB;
// Blue Green
//$color-ucsd-nt: #065143;
// aero blue
//$color-ucsd-nt2: #C4E7D4;
// light periwinkle
//$color-ucsd-nt3: #BCC4DB;





$color-table-datasource-bottom-border: #aaa;

// BOX SHADOW
$box-shadow: 0 1px 2px #9F9D9D;
$linear-gradient-primary: linear-gradient(2deg, $color-primary, $color-primary-light);
$linear-gradient-secondary: linear-gradient(2deg, $color-secondary-dark, $color-secondary-light);
$linear-gradient-secondary-reverse: linear-gradient(2deg, $color-secondary-light, $color-secondary-dark);
