/* TODO: clean up unused styles */
/* TODO: break out into multiple files? */

#explorer-main {
    padding-top: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    margin-bottom: 8px;
}

.controller-panel {
    padding: 0;
}

.controller-panel .panel-body {
    overflow-x: auto;
}

.tree-explorer {
    font-size: 12px;
}

.tree-explorer .badge {
    font-size: 70%;
    vertical-align: middle;
    padding: 3px 4px 4px 4px;
    margin: 0px 4px;
}

.tree-explorer .star-node-color {
    color: #226d8d;
}

.tree-explorer .regular-node-color {
    color: darkslategrey;
}

.tree-explorer .error-node-color {
    color: darkred;
}

.charthouse-expression-builder {
    margin: 0;
    padding: 5px 2px;
}

.charthouse-expression-builder .expression-tree {
    font-size: 12px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 6px;
}

.charthouse-expression-builder .expression-tree .badge {
    font-size: 70%;
    vertical-align: middle;
    padding: 2px 3px 3px;
    margin: 0px 1px 3px;
}

.charthouse-expression-builder .folder-color {
    color: darkslategrey;
}

.charthouse-expression-builder .leaf-color {
    color: #226d8d;
}

.charthouse-expression-builder .expression-toolbar .btn {
    padding-bottom: 0px;
    font-size: 11px;
}

.charthouse-expression-builder .expression-toolbar .btn .glyphicon-plus {
    top: -1px;
    margin-right: 3px;
    font-size: 70%;
}

.charthouse-expression-builder .expression-errors .alert {
    padding: 2px;
    margin: 1px 0;
    font-size: 67%;
}

.charthouse-expression-txt-editor textarea {
    resize: vertical;
    font-size: 7.5pt;
    padding: 5px;
    white-space: pre;
    word-wrap: normal;
}

.rawdata-section pre {
    margin-top: 6px;
    font-size: x-small;
}

.progress {
    width: 75%;
    margin-bottom: 9px;
}

.viz-plugin-info {
    /*margin-top: 8px;*/
}

.viz-plugin-content {
    overflow-x: hidden;
    overflow-y: auto;
}

.charthouse-dialog {
    width: 65%;
}

.charthouse-dialog .modal-header {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    background-color: #ECF0F1;
}

.charthouse-dialog .modal-title {
    color: #2C3E50;
    font-weight: bold;
    font-size: medium;
}

.charthousicon-variable:before {
    content: "\03bc";
}

.charthousicon-constant:before {
    content: "\039a";
}

.d3-tooltip {
    color: lightgrey;
    background: rgba(0, 0, 100, .7);
    padding: 5px;
    border-radius: 3px;
    font: 11.5px sans-serif;
    text-align: center;
    z-index: 2;
}

.fade-enter, .fade-leave.fade-leave-active {
    opacity: 0.01;
}

.fade-leave, .fade-enter.fade-enter-active {
    opacity: 1;
}

.fade-enter, .fade-leave {
    transition: opacity .35s ease-in;
}
