.range {

  &__input {
    background-color: $color-white;
    height: 3.75rem;
    width: 100%;
    border: 2px solid $color-blue-border;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #757575;
    padding-top: 0.5rem;

    & span {
      display: inline-block;
    }

    &-dash {
      padding: 0 1.5rem;
    }
  }

  &__dropdown {
    display: none;
    z-index: 10000;
    position: absolute;
    left: 0;
    top: 7.25rem;
    box-shadow: $box-shadow;
    border-radius: 3px;

    &-checkbox {
      position: absolute;
      bottom: 3rem;
      width: 18.3rem;
      display: flex;
      justify-content: center;
    }

    &--visible {
      display: inline-block;
    }
  }

  &__time {
    display: none;
    position: absolute;
    bottom: 5rem;
    left: 0.5rem;

    &--visible {
      display: block;
    }
  }
}
