.range {

  &__input {
    background-color: $color-white;
    height: 3rem;
    width: 100%;
  }

  &__dropdown {
    display: none;
    position: relative;

    &--visible {
      display: inline-block;
    }
  }

  &__time {
    display: none;

    &--visible {
      display: block;
    }

    .react-timerange-picker {
      display: inline-flex;
      position: relative;

      &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }

      &__inputGroup {
        input {
          width: 4rem;
        }
      }
    }

    .react-time-picker, .react-time-picker *, .react-time-picker *:before, .react-time-picker *:after {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
  }


}
