.control-panel {
  background-color: $color-white;
  border-radius: 0.3rem;
  box-shadow: $box-shadow;
  padding: $gutter-vertical-small;

  .searchbar {
    height: 5rem;
  }

  // Search bar
  [class^="search-"] {
    margin: 1.6rem 0 0;
  }

  [class^="searchbar-"] {
    display: flex;
    flex-direction: column;
  }

  [class^="searchInput-"] {
    height: 3.75rem;
    padding-left: 0.8rem;

    &:focus ~ label {
      margin-top: -5.6rem;
      padding-left: 1rem;
    }
  }

  [class^="searchLabel-"] {
    position: relative;
    margin-top: -5.6rem;
    padding-left: 1rem;
    opacity: 1;
    font-style: italic;
    font-size: $control-panel-input-label-font-size;
  }

  .range {
    &__label {
      padding-left: 1rem;
      font-style: italic;
      font-size: $control-panel-input-label-font-size;
    }

    &__calendar {
      background-color: $control-panel-input-calendar-icon-background;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: -0.5rem;
      margin-left: -0.8rem;
      height: 3.4rem;
      padding: 0 0.3rem;
      border-right: 2px solid $color-blue-border;

      & img {
        height: 2rem;
      }
    }

    &__input {
      background-color: $color-white;
      height: 3.75rem;
      width: 100%;
      border: 2px solid $color-blue-border;
      border-radius: 5px;
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;
      color: #757575;
      padding-top: 0.5rem;
      padding-left: 0.8rem;

      &-start {
        margin-left: 0.5rem;
      }

      & span {
        display: inline-block;
      }

      &-dash {
        padding: 0 1.5rem;
      }
    }

    &__dropdown {
      display: none;
      z-index: 10000;
      position: absolute;
      left: 0;
      top: 7.25rem;
      box-shadow: $box-shadow;
      border-radius: 3px;

      &-userInputRange {
        display: flex;
        justify-content: left;

        & input {
          height: 1.9rem;
        }

        & input {
          width: 5rem;
          margin: 0 0.75rem;
          padding: 0.25rem 0;
          -moz-appearance: textfield;

          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }
      }

      &-checkbox {
        width: 18.3rem;
        //display: flex; controlled in component file
        justify-content: center;
      }

      &--visible {
        display: inline-block;
      }
    }

    &__time {
      display: none;
      position: absolute;
      bottom: 6rem;
      right: 7rem;

      &--visible {
        display: block;
      }
    }

    &__button {
      @include button;
      margin: 1.5rem;
      position: absolute;
      bottom: -0.5rem;
      left: 0;
      padding: 0 1rem;
      font-size: 1.1rem;

      &--secondary {
        left: 6rem;
        background: #777879;
      }

      &--disabled {
        cursor:not-allowed;
      }
    }
  }

  .heading-h1 {
    display: flex;
    justify-content: flex-end;
  }
}



