.react-timerange-picker {
  display: inline-flex;
  position: relative;

  &--disabled {
    background-color: #f0f0f0;
    color: #6d6d6d;
  }

  &__wrapper {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    border: thin solid gray;
  }

  &__inputGroup {
    min-width: calc((4px * 3) + 3.24em + 0.434em);
    flex-grow: 1;
    padding: 0 2px;
    box-sizing: content-box;

    &__input {
      min-width: .54em;
      height: 100%;
      position: relative;
      padding: 0 1px;
      border: 0;
      background: none;
      font: inherit;
      box-sizing: content-box!important;
      -moz-appearance: textfield;

      &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &:invalid {
        background: rgba(255,0,0,0.1);
      }

      &--hasLeadingZero {
        margin-left: -0.54em;
        padding-left: calc(1px + .54em);
      }
    }

    &__leadingZero {
      margin-top: 1px;
    }

    &__amPm {
      font: inherit;
      -moz-appearance: menulist;
    }
  }
}

.react-time-picker {
  &__inputGroup__divider {
    padding: 1px 0;
    white-space: pre;
  }
}

.react-timerange-picker, .react-timerange-picker *, .react-timerange-picker *:before, .react-timerange-picker *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
