.range {

  &__input {
    background-color: $color-white;
    height: 3rem;
    width: 100%;
  }

  &__dropdown {
    display: none;

    &--visible {
      display: inline-block;
    }
  }

  &__time {
    display: none;

    &--visible {
      display: block;
    }
  }


}
