// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
$gutter-vertical-small: 6rem;

// FONTS
$font-lato: 'Lato', sans-serif;
$font-nunito: 'Nunito', sans-serif;
$font-ubuntu: 'Ubuntu', sans-serif;

// COLORS
$color-white: #fff;
$color-black: #000;
$color-background-white: #f0f0f0;
$color-primary: #3C8097;
$color-primary-light: #64A2B6;
$color-primary-dark: #236D86;
$color-secondary: #F1A85B;
$color-secondary-light: #FFC588;
$color-secondary-dark: #D68632;

$color-filter-papers: #F15A5A;
$color-filter-datasets: #74D04E;
$color-filter-tags: #F2A85A;
$color-filter-joins: #7E42A2;
$color-filter-entities: #9AB5D8;

// BOX SHADOW
$box-shadow: 0 2px 7px #333;
