.navigation {
  width: 100%;
  background-color: $color-white;
  box-shadow: 0 2px 7px #333;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: $grid-width;
    width: 100%;
    height: 8rem;
  }

  &__logo {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;
    overflow: hidden;

    & a {
      display: block;

      & img {
        height: 7rem;
      }
    }

    &:before {
      content: "beta";
      position: absolute;
      background-color: #F1A85B;
      color: #fff;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 2px;
      font-size: 1rem;
      padding: 0.3rem;
      width: 5rem;
      top: 1rem;
      right: 0;
      display: flex;
      justify-content: center;
      z-index: -1;
      border-radius: 5rem;
    }
  }

  &__nav {

  }

  &__mobile-nav {
    display: none;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    font-family: $font-ubuntu;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    height: 100%;
    margin: 0;
  }

  &__item {
    width: 22rem;
    list-style-type: none;
    height: auto;
    display: flex;
    border-right: 1px solid #5A4E3C;

    &:first-child {
      border-left: 1px solid #5A4E3C;
    }
  }

  &__link:link,
  &__link:visited {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    color: $color-primary;

    &:hover {
      text-decoration: none;
      color: $color-white;
      background-color: $color-primary;
    }
  }


}
