.tilegrid {

}

.tilegrid .row {
    margin-bottom: 20px;
}

.tilegrid .tile {
}

.tilegrid .tile + .tile {
    padding-right: 30px;
}

.tilegrid .thumbnail {
    width: 100%;
    height: 150px;
    display: table-cell;
    vertical-align: middle;
    /*
    background-color: #ebebeb;
    border: 1px solid #c5cacd;
    */
    border: none;
    padding-top: 14px;
}

.tilegrid .thumbnail img {
    max-height: 150px;
    max-width: 200px;
}

.tilegrid .thumbnail img.screenshot {
    border: 1px solid #c7c9cc;
}

.tilegrid .thumbnail > .caption > h4 {
    color: #226d8d;
}
