.footer {
  filter: drop-shadow(.5rem .5rem .5rem #222);
  background-color: $color-primary;
  color: $color-white;
  height: 10rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  &__copyright {
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 0.6px;
  }
}
