.header {
  width: 100%;
  background-color: $color-primary;
  box-shadow: $box-shadow;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  height: $header-height;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    max-width: $grid-width;
    width: 100%;
    height: auto;
  }

  &__logo {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;
    overflow: hidden;

    & a {
      display: block;

      & img {
        height: 3.5rem;
      }
    }
  }

  &__nav {
    position: relative;
    z-index: 10;

    &--mobile {
      display: none;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    color: $color-white;
    font-family: $font-lato;
    font-size: 1.4rem;
    text-transform: capitalize;
    height: 100%;
    margin: 0;
  }

  &__item {
    width: 18rem;
    list-style-type: none;
    height: auto;
    display: flex;
  }

  &__link:link,
  &__link:visited {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    color: $color-white;
    text-decoration: none;

    &:hover {
      text-decoration: none;
      color: $color-white;
      background-color: $color-primary;
    }
  }
}
