.table {
  background-color: $color-white;
  box-shadow: $box-shadow;
  margin: 0;
  padding: 0;
  border:none;
  border-collapse:collapse;
  border-spacing: 0;
  margin-bottom: 5rem;


  &__header {
    background: linear-gradient(45deg, $color-primary-dark, $color-primary-light);
    color: $color-white;

    &-col button {
      background: transparent;
      color: inherit;
      outline: none;
      width: 100%;
      height: 100%;
      padding: 3px;
      border: none;
    }
  }

  & tbody {
    max-height: 28rem;
    overflow-y: scroll;
  }

  & tr:nth-child(odd) {
    background-color: $color-table-row-odd;
  }

  & td {
    border: 1px solid $color-table-cell-border;
    padding: 0.5rem 0.3rem;
  }

  &__scores {
    display: none;
    background-color: seagreen;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    border-collapse:collapse;
    border-spacing: 0;

    &--visible {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
