.help {
  position: relative;
  display: flex;
  align-items: center;

  &__button {
    @include button;
    border-radius: 3rem;
    font-size: 1rem;
    padding: 0 0.4rem;
    height: 1.3rem;
    margin: 0;

    &:hover {
      border-radius: 3rem;
    }
  }

  &__modal {
    position: absolute;
    z-index: 9999;
    background: $color-white;
    border-radius: 0.3rem;
    box-shadow: $box-shadow;
    flex-direction: column;
    width: 24rem;
    font-size: 1.2rem;
    color: $color-primary;
    border: 0.1rem solid #b3b3b3;
    //transform: translateY(-50%) translateY(-0.75rem);
    left: 3rem;
    top: 0;

    &-content {
      position: relative;
      z-index: 10002;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        z-index: 10001;
        left: -1rem;
        height: 2rem;
        width: 2rem;
        box-shadow: $box-shadow;
        border: 0.1rem solid #b3b3b3;
        transform: translateY(-50%) rotate(45deg);
        background: $color-white;
      }

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        z-index: 10001;
        background: $color-white;
        transform: translateY(-50%);
        height: 2.8rem;
        width: 1.5rem;
      }
    }
  }

  &__title {
    background-color: #f7f7f7;
    text-align: left;
    border-bottom: 0.1rem solid #ebebeb;
    padding: 0.5rem 1.5rem;
    border-top-right-radius: 0.3rem;
    border-top-left-radius: 0.3rem;
  }

  &__text {
    padding: 0.5rem 1.5rem;
  }

  &__customCode {

  }
}
