*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;	                // 1rem = 10px; 10px / 16px = 62.5%

  @include respond(tab-land) {	    // 1rem = 9px; 9px / 16px = 56.25%
    font-size: 56.25%;
  }

  @include respond(tab-port) {	    // 1rem = 8px; 8px / 16px = 50%
    font-size: 50%;
  }

  @include respond(phone) { 		//1rem = 7px; 7px / 16px = 43.75%
    font-size: 43.75%;
  }

  @include respond(big-desktop) {    // 1rem = 12px; 12px / 16px = 75%
    font-size: 75%;
  }

}
body {
  box-sizing: border-box;
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}

html, body {
  height: 100%;
  background: darkorange;
}

body {
  background-color: $color-background-white;
}

.panda-app {
  display: flex;
  flex-direction:column;
  min-height: 100vh;

  & > div:nth-child(2) {
    flex-grow: 1;
  }
}
