.progress-bar-striped {
  overflow: hidden;
  height: 2rem;
  background-color: $color-background-white;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  margin: 2rem 0;

  & > div {
    width: 0;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 4rem 4rem;
    float: left;
    height: 100%;
    font-size: 1.3rem;
    line-height: 2rem;
    color: $color-white;
    text-align: center;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    transition: width 3s ease;
    animation: progress-bar-stripes 2s linear infinite;
    background-color: $color-secondary-dark;
  }

  & p {
    margin: 0;
  }
}
