.acknowledgements {
  @include staticPageFormatting;

  .thumbnail {
    background-color: $color-white;
    box-shadow: $box-shadow;
    border-radius: 0.5rem;
    padding: 2rem;
    width: 100%;

    &__content {
      display: flex;
      flex-direction: column;
    }

    &__text {
      margin-left: 0;
      color: $color-primary;
    }

    &__img {
      height: 15rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 1rem;
    }

    & img {
      height: auto;
      max-width: 15rem;
      max-height: 15rem;
      width: 100%;
      box-shadow: none;
    }
  }

}
