.chartShare {
  & .textbox {
    position: absolute;
    border: 2px solid $color-blue-border;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 15;
    padding: 0.5rem;
    border-radius: 0.4rem;
    width: 28rem!important;
    max-width: 42rem;
    min-height: 3.3rem;
    //max-height: 6rem;
    font-size: 1.3rem;
    color: $color-primary;
    text-align: center;
    font-family: $font-lato-regular;
    resize: none;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    //&__text {
    //  font-size: 1.3rem;
    //  color: $color-primary;
    //  text-align: center;
    //  display: flex;
    //  justify-content: center;
    //  align-items: center;
    //}
  }

  & .annotation {
    border: 2px solid $color-blue-border;
    border-radius: 0.3rem;

    &__drawingLocked {
      pointer-events: none;
    }
  }
}
