.entity {
  padding-top: $header-height;
  margin: 4rem $gutter-vertical 0;

  .col-1-of-3 {
    position: relative;
  }

  .overview {
    background-color: $color-white;
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    min-height: 65rem;
    box-shadow: $box-shadow;
    padding: $gutter-vertical-small;

    &__config {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 1.5rem;

      &-button {
        @include button;
        height: 3rem;
        font-size: 1.2rem;
        margin: 0;
        padding: 0 1rem;
      }
    }

    &__table {

      &-config {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 1.5rem;
      }

      & .table {
        margin-bottom: 0;
        height: inherit;
      }
    }
  }

  .related {
    margin-bottom: $gutter-vertical;

    @include respond(tab-port) {
      padding: 0;
    }

    .col-1-of-2 {
      background-color: $color-white;
      border-bottom-right-radius: 0.3rem;
      border-bottom-left-radius: 0.3rem;
      border-top-right-radius: 0.3rem;
      min-height: 48.8rem;
      box-shadow: $box-shadow;
      padding: $gutter-vertical-small;
    }

    &__heading {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 1.5rem;
    }

    &__no-outages {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 6rem;
    }

    &__modal-button {
      @include button;
      height: 3rem;
      font-size: 1rem;
      margin: 0;
      padding: 0 1rem;
    }
  }
}
