.entity {
  padding-top: $header-height;
  margin-top: 4rem;

  .overview {
    background-color: $color-white;
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    box-shadow: $box-shadow;
    height: 50rem;

    &__config {
      width: 100%;
      text-align: right;

      &-button {
        @include button;
        height: 3rem;
        font-size: 1rem;
        margin: 1.5rem
      }
    }

    &__table {
      height: 46rem;
      margin-top: 1.5rem;

      & .table {
        margin-bottom: 0;
        height: inherit;
      }
    }
  }
}
