.entity {
  padding-top: $header-height;
  margin: 4rem $gutter-vertical 0;

  .col-1-of-3 {
    position: relative;
  }

  .overview {
    .col-3-of-5, .col-2-of-5 {
      background-color: $color-white;
      border-bottom-right-radius: 0.3rem;
      border-bottom-left-radius: 0.3rem;
      border-top-right-radius: 0.3rem;
      min-height: 65rem;
      box-shadow: $box-shadow;
      padding: $gutter-vertical-small;
    }

    @include respond(tab-land) {
      .col-3-of-5 {
        width: 100%;
      }

      .col-2-of-5 {
        width: 100%;
      }
    }

    &__config {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 1.5rem;
      align-items: center;

      &-button {
        @include button;
        height: 3rem;
        font-size: 1.1rem;
        margin: 0;
        padding: 0 1rem;

        &--alertBands {
          margin-left: 1rem;
        }
      }

      .toggle {
        &__label {
          cursor: pointer;
        }

        &:first-child {
          margin-bottom: 1rem;
        }
      }


    }

    &__xy-wrapper {
      position: relative;

      .canvasjs-chart-toolbar {
        margin-top: 1.8rem;
        margin-right: 1.9rem;
      }

      .canvasjs-chart-credit {
        display: none;
      }

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: $color-white;
        height: 1.5rem;
        width: 14rem;

        @include respond(big-desktop) {
          width: 11.5rem;
        }

        @include respond(tab-land) {
          width: 15.5rem;
        }

        @include respond(tab-port) {
          width: 17.5rem;
          height: 2rem;
        }
      }
    }

    &__table {

      &-config {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 1.5rem;
      }

      & .table {
        margin-bottom: 0;
        height: inherit;
      }
    }
  }

  .related {
    margin-bottom: $gutter-vertical;

    @include respond(tab-port) {
      padding: 0;
    }

    .col-1-of-2 {
      background-color: $color-white;
      border-bottom-right-radius: 0.3rem;
      border-bottom-left-radius: 0.3rem;
      border-top-right-radius: 0.3rem;
      height: 50rem;
      box-shadow: $box-shadow;
      padding: $gutter-vertical-small;
    }

    &__heading {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 1.5rem;
    }

    &__no-outages {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 6rem;
    }

    &__modal-button {
      @include button;
      height: 3rem;
      font-size: 1rem;
      margin: 0;
      padding: 0 1rem;
    }
  }
}
