.helpPage {
  padding-top: $header-height;
  margin: 4rem 0;
  color: $color-primary;

  & .row {
    max-width: 114rem;
  }

  & h2 {
    font-size: 1.9rem;
    margin-bottom: 1.5rem;
    position: relative;
    padding-top: 1rem;
    margin-top: 1.5rem;

    &:before {
      content: "";
      width: 100%;
      height: 0.1rem;
      background-color: $color-primary;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  & h3 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
  }

  & h4 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
  }

  & ul {
    margin-left: 4rem;
    margin-bottom: 1rem;

    & li {
      font-size: 1.2rem;
    }
  }

  & p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
  }

  & a:link, & a:visited {
    @include textLink;
  }
}
