// Remove button from search bar
button[class*="searchButton"] {
  display: none!important;
}

.home {
  padding-top: $header-height;
  margin-top: 4rem;

  .row {
    max-width: $grid-width;

    @include respond(tab-port) {
      padding: 0 1.5rem;
    }
  }

  & .col-1-of-1 .row {
    display: flex;
    justify-content: center;
  }

  .row:last-child {
    margin-bottom: 4.5rem;
  }

  .search {
    display: flex;
    justify-content: center;

    & .section-header {
      margin-bottom: -1rem;
    }

    &__text {
      text-align: right;
      font-size: 1.4rem;
      margin-top: 0.5rem;
      letter-spacing: 0.3px;
    }

    &__link {
      @include textLink;
      margin-left: 0.5rem;
    }
  }

  .map {
    &__content {
      border-radius: 0.5rem;
      overflow: hidden;
      box-shadow: $box-shadow;
      width: 100%;
      height: 48.5rem;
    }

    &__text {
      font-family: $font-lato;
      font-weight: 300;
      margin-bottom: 0.5rem;
    }

    &__feed {
      border-radius: 0.5rem;
      overflow: hidden;
      box-shadow: $box-shadow;
      margin-top: 2rem;
    }
  }

  .about {
    background: $linear-gradient-primary;
    max-width: 100%;
    padding-top: 3rem;
    display: flex;
    justify-content: center;

    @include respond(tab-port) {
      padding: 3rem 0 0;
    }

    .row {
      display: flex;
      justify-content: center;
      margin-bottom: 2.5rem;

      .col-2-of-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    &__text {
      color: $color-white;
      font-size: 1.5rem;

      @include respond(tab-port) {
        font-size: 1.6rem;
      }
    }

    .button {
      margin-top: 2rem;

      & button {
        cursor: pointer;
        min-width: 18rem;
        border: none;
        display: inline-block;
        background: transparent;
        border-radius: 3px;
        color: $color-secondary;
        position: relative;
        z-index: 1;
        font-size: 1.4rem;
        padding: 1rem 3rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1px;

        &:before, &:after {
          content: ' ';
          position: absolute;
          border-radius: 3px;
        }

        &:before {
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          z-index: -2;
          background: linear-gradient(101deg, $color-secondary-light 0%, $color-secondary-dark 100%);
        }

        &:after {
          top: 3px;
          bottom: 3px;
          left: 3px;
          right: 3px;
          background-color: #fff;
          z-index: -1;
          opacity: 1;
          transition: all 0.2s ease-in-out;
        }

        &:hover {
          color: $color-white;
          &:after {
            opacity: 0;
          }
        }
      }
    }
  }

  .examples {
    margin-top: 4rem;

    & .row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: $gutter-vertical-small;

      @include respond(tab-port) {
        flex-direction: column;
      }


      & .col-1-of-1 {
        display: flex;
        justify-content: center;
      }

      & .col-1-of-3 {
        @include respond(tab-port) {
          width: 100%!important;
        }
      }

      & .thumbnail {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $color-white;
        box-shadow: $box-shadow;
        border-radius: 0.5rem;
        padding: 0 2rem 2rem;

        @include respond(tab-port) {
          flex-direction: row;
          align-items: flex-start;
          padding-top: 2rem;
        }

        @include respond(phone-md) {
          flex-direction: column;
          padding-top: 0;
          align-items: center;
        }

        &__img {
          height: 18rem;
          display: flex;
          justify-content: center;
          align-items: center;

          & img {
            height: auto;
            max-width: 35rem;
            margin-top: 1.5rem;
          }
        }

        &__text {
          display: flex;
          flex-direction: column;
          justify-content: center;

          @include respond(tab-port) {
            margin-left: 2rem;
            justify-content: left;
          }

          @include respond(phone-md) {
            margin-left: 0;
            justify-content: center;
          }
        }

        & h4 {
          margin-bottom: 1rem;
          text-align: center;

          @include respond(tab-port) {
            text-align: left;
          }

          @include respond(phone-md) {
            margin-top: 1rem;
            text-align: center;
          }
        }

        &__title {
          @include textLink;
          font-size: 1.4rem;
        }

        & p {
          font-size: 1.1rem;
          text-align: justify;

          & a {
            @include textLink;
          }
        }
      }
    }
  }

  .methodology {
    @include staticPageFormatting;
    background: $linear-gradient-primary;
    max-width: 100%;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .row:first-child .col-1-of-1 {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      & p {
        text-align: left;
      }
    }

    & h2 {
      font-size: 2.6rem;
    }

    & h2, & p, & h4 {
      color: $color-white;

      &:before {
        display: none;
      }
    }
  }

  .partners {
    margin-top: 4rem;

    & .col-1-of-1 {
      display: flex;
      justify-content: center;
    }

    & .col-1-of-3 {
      margin-bottom: 2rem;

      &:nth-child(3n - 2) {
        margin-right: 0;

        @include respond(tab-port) {
          margin-right: 2.5rem;
        }
      }

      @include respond(tab-port) {
        width: calc(50% - 2.5rem)!important;
      }

      @include respond (phone-lg) {
        width: 100%!important;
      }
    }

    & .section-header {
      margin-bottom: 2rem;
    }
  }
}

.card {
  background-color: $color-white;
  box-shadow: $box-shadow;
  border-radius: 0.5rem;
  padding: 0 2rem 2rem;

  &__link {
    color: $color-black;
    text-decoration: none;
  }

  &__logo {
    height: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &-icon {
      max-width: 18rem;
      max-height: 15rem;
    }
  }

  &__text {
    height: 14rem;
    font-size: 1.2rem;

    @include respond(tab-port) {
      height: 15rem;
      text-align: center;
      font-size: 1.3rem;
    }

    @include respond (phone-lg) {
      height: auto;
    }

    &-link {
      @include textLink;
    }
  }
}
