.reports {
  padding-top: $header-height;
  margin-top: 4rem;

  & .row {
    max-width: 114rem;
  }

  & .list {
    display: flex;
    justify-content: center;
  }

  &__text {
    font-size: 1.3rem;
  }

  &__list {
    margin-left: 2.5rem;
    font-size: 1.3rem;

    &-item {
      & a:link, a:visited {
        @include textLink;
      }
    }
  }
}
