.table {
  background-color: $color-white;
  padding: 0;
  border: none;
  border-spacing: 0;
  z-index: 10;
  border-radius: 3px;
  width: 100%;
  border-bottom: 1px solid $color-blue-border;

  &--signal {
    margin: 0;
  }

  &--event {
    text-align: center;

    & .table__header-col:not(:last-child),
    & tr td:not(:last-child) {
      width: 18rem;
    }
  }

  &--alert {
    &-critical {
      background-color: $color-alert-feed-critical;
      width: 3rem;
    }

    &-warning {
      background-color: $color-alert-feed-warning;
      width: 3rem;
    }

    &-normal {
      background-color: $color-alert-feed-normal;
      width: 3rem;
    }

    &-level-img {
      height: 1.1rem;
      width: 1.1rem;
    }

    & .table__header-col button {
      justify-content: left;
    }

    & .table__header-col:first-child,
    & tr td:first-child {
      width: 4rem;
    }

    & .table__header-col:nth-child(2),
    & tr td:nth-child(2),
    & .table__header-col:nth-child(3),
    & tr td:nth-child(3) {
      width: 18rem;
    }
  }

  &--summary {
    & .table__scores--active {
      display: block;

      & thead {
        display: block;
      }
    }

    & .table__header-col:first-child button {
      justify-content: left;
      padding-left: 1rem;
    }

    &--asn .table__header-col:nth-child(2) {
      width: 10rem;
    }
  }

  &--signal {
    & .table__header-col:first-child {
      width: 4rem;
    }

    & .table__header-col:nth-child(2) button {
      justify-content: left;
      padding-left: 1rem;
    }

    & tr td:first-child {
      width: 4rem;
    }

    &--asn .table__header-col:nth-child(3),
    &--asn tbody tr td:nth-child(3) {
      width: 10rem;
    }
  }

  &__header {
    background-color: $color-blue-border!important;
    color: $color-primary;
    border-radius: 0.3rem 0.3rem 0 0;

    &-col {
      padding-left: 0.5rem;


      &:first-child {
        border-top-left-radius: 0.3rem;
      }

      &:last-child {
        border-top-right-radius: 0.3rem;
        width: calc(8rem + 15px);
        padding-left: 0;

        & button {
          // To account for scroll bar width
          width: calc(8rem + 15px);
          padding-right: 20px;
        }
      }

      &:not(:last-child) {
        border-right: 1px solid $color-blue-border;
      }

      & button {
        background: transparent;
        color: inherit;
        outline: none;
        width: 100%;
        height: 100%;
        padding: 0.25rem;
        border: none;
        font-size: 1.2rem;
        font-weight: 700;
        display: flex;
        justify-content: left;
        align-items: center;
        cursor: pointer;
      }
    }

    &-sort {
      height: 2rem;
      width: 2rem;
      margin-left: 0.5rem;
    }
  }

  & tbody {
    max-height: 28rem;
    overflow-y: scroll;
    display: block;
    width: 100%;
  }

  & tr {
    height: 3.4rem;
    display: table;
    width: 100%;
  }

  & tr:nth-child(odd) {
    background-color: $color-table-row-odd;
  }

  & tr:nth-child(even) {
    background-color: $color-white;
  }

  & tr:last-child {
    & td:first-child {
      border-bottom-left-radius: 0.3rem;
    }

    & td:last-child {
      border-bottom-right-radius: 0.3rem;
    }
  }

  & td {
    //border: 1px solid $color-blue-border;
    font-size: 1.1rem;
    text-align: left;
    position: relative;
    height: inherit;
    padding-left: 1.5rem;
  }

  & .td--center {
    text-align: center;
    padding-left: 0;
  }

  &__cell {

    &-link {
      display: flex;
      height: 100%;
      justify-content: left;
      align-items: center;

      &:link,
      &:visited {
        @include textLink;
        padding-bottom: 0!important;
        margin-bottom: 0!important;
        background-size: 100% 0!important; /* controls underline thickness */
      }
    }

    &--overallScore {
      width: 8rem;
      position: relative;
      cursor: pointer;
    }

    &--ipCount {
      width: 10rem;
    }
  }

  &__ellipses {
    font-size: 1.8rem;
    line-height: 1.9rem;
    vertical-align: sub;
    position: absolute;
    right: 0.5rem;
  }

  &__scores {
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
    z-index: 100;
    right: 2.5rem;
    width: 24rem;

    & td, & th {
      position: relative;
      z-index: 100;

      &:first-child {
        text-align: left;
        padding-left: 1rem;
      }

      &:last-child {
        text-align: center;
        padding-left: 0;
      }
    }

    & thead tr {
      background-color: $color-blue-border!important;
      color: $color-primary;
      box-shadow: $box-shadow;

      & th {
        padding: 0.5rem;

        &:first-child {
          border-top-left-radius: 0.3rem;
        }
      }
    }

    & tbody {
      box-shadow: $box-shadow;
      position: relative;
      z-index: 99;
      border-bottom-left-radius: 0.3rem;
      border-bottom-right-radius: 0.3rem;

      & tr {
        & td {
          border: none;
        }

        & td:first-child {
          width: 18rem;
        }

        & td:last-child {
          width: 6rem;
        }
      }
    }

    &:after {
      top: 1px;
      right: -0.2rem;
      content: "";
      height: 3.3rem;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-left: 1.5rem solid transparent;
      //border-left: 1.5rem solid $color-primary-light;
      border-top: 1.5rem solid transparent;
      border-bottom: 1.5rem solid transparent;
      z-index: 101;
      background-color: $color-blue-border;
    }

    &:before {
      content: '';
      position: absolute;
      background-color: $color-blue-border;
      transform: rotate(45deg);
      width: 2.4rem;
      height: 2.4rem;
      right: -1.2rem;
      top: 0.5rem;
      z-index: -1;
      box-shadow: $box-shadow;
    }
  }

  &__page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    margin-top: 1rem;

    &-text {
      font-size: 1rem;
    }

    &-button {
      @include button;
      width: 7rem;
      height: 1.2rem;
      border-radius: 1.2rem;
      margin: 0.25rem 0.5rem;
      font-size: 1rem;

    }
  }

  &__empty {
    font-size: 1.3rem;

    & td {
      text-align: center;
    }

  }
}
