<!DOCTYPE html>
<html>
    <head>
        <title>CAIDA HI³</title>
        <meta charset="UTF-8">

        <!-- begin favicon settings -->
        <link rel="apple-touch-icon" sizes="180x180"
              href="/apple-touch-icon.png?v=69PqBbWL25">
        <link rel="icon" type="image/png" sizes="32x32"
              href="/favicon-32x32.png?v=69PqBbWL25">
        <link rel="icon" type="image/png" sizes="16x16"
              href="/favicon-16x16.png?v=69PqBbWL25">
        <link rel="manifest" href="/site.webmanifest?v=69PqBbWL25">
        <link rel="mask-icon" href="/safari-pinned-tab.svg?v=69PqBbWL25"
              color="#3c8ab8">
        <link rel="shortcut icon" href="/favicon.ico?v=69PqBbWL25">
        <meta name="apple-mobile-web-app-title" content="Hi&sup3;">
        <meta name="application-name" content="Hi&sup3;">
        <meta name="msapplication-TileColor" content="#2d89ef">
        <meta name="theme-color" content="#ffffff">
        <!-- end favicon settings -->


        <link rel="stylesheet" href="{{ asset('build/hi3.css') }}">
    </head>
    <body>
        <div id="root"></div>
        <script src="{{ asset('build/hi3.js') }}"></script>
    </body>
</html>
