<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="robots" content="noindex">
        <title>IODA</title>
        <meta charset="UTF-8">
        <!-- begin favicon settings -->
        <link rel="apple-touch-icon" sizes="180x180"
              href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32"
              href="/icon-32-new.png">
        <link rel="icon" type="image/png" sizes="16x16"
              href="/icon-16-new.png">
        <link rel="manifest" href="/site.webmanifest?v=69PqBbWL25">
        <link rel="shortcut icon" href="/favicon.ico">
        <meta name="apple-mobile-web-app-title" content="IODA">
        <meta name="application-name" content="IODA">
        <meta name="theme-color" content="#ffffff">
        <!-- end favicon settings -->
{#        Viewport #}
        <meta name="viewport" content="width=device-width, initial-scale=1">
{#        Stylesheet #}
        <link rel="stylesheet" href="{{ asset('build/ioda.css') }}">
        <link rel="stylesheet" href="{{ asset('build/style.css') }}">
{#      Check if browser is IE 8 or below and serve the not supported page if so #}
    </head>
    <body>
        <div id="root">
            <div class="contentLoading">
                <img width="180" src="/apple-touch-icon.png" alt="IODA logo" />
            </div>
        </div>
        <script>
            const div = document.getElementById('root');
            /*
             * documentMode is an IE-only property
             */
            let msie = document.documentMode;
            let html;
            // IF IE, serve different content
            if (msie) {
                html = '<h1 class="u-full-max-width u-text-align-center">Browser&nbsp;not&nbsp;Supported</h1>';
                div.insertAdjacentHTML('beforeend', html);
            } else {
                html = '<div class="contentLoading__progressBar progress-bar-striped"><div style="width:100%;"><strong>Loading...</strong></div></div>';
                div.insertAdjacentHTML('beforeend', html);
            }
        </script>
        <script src="{{ asset('build/ioda.js') }}"></script>
    </body>
</html>
