<!DOCTYPE html>
<html>
    <head>
        <title>IODA</title>
        <meta charset="UTF-8">

        <!-- begin favicon settings -->
        <link rel="apple-touch-icon" sizes="180x180"
              href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32"
              href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16"
              href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest?v=69PqBbWL25">
        <link rel="mask-icon" href="/safari-pinned-tab.svg?v=69PqBbWL25"
              color="#3c8ab8">
        <link rel="shortcut icon" href="/favicon.ico">
        <meta name="apple-mobile-web-app-title" content="IODA">
        <meta name="application-name" content="IODA">
        <meta name="msapplication-TileColor" content="#2d89ef">
        <meta name="theme-color" content="#ffffff">
        <!-- end favicon settings -->
{#        Stylesheet #}
        <link rel="stylesheet" href="{{ asset('build/ioda.css') }}">
{#        Fonts #}
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,400i,700,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,400i,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700&display=swap" rel="stylesheet">


{#      Map styling and Topographic data libraries #}
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
        <script src="https://unpkg.com/topojson@3.0.2/dist/topojson.min.js"></script>
{#      Check if browser is IE 8 or below and serve the not supported page if so #}
        <script>
            /*
             * documentMode is an IE-only property
             * https://www.w3schools.com/jsref/prop_doc_documentmode.asp
             * Script to check if browser is Internet Explorer 8 or lower
             */
            let msie = document.documentMode;
            // IF IE version is less than 9, redirect to browser not supported page
            if (msie < 9) {
                window.location = "%PUBLIC_URL%/browserNotSupported.html";
            }
        </script>
    </head>
    <body>
        <div id="root"></div>
        <script src="{{ asset('build/ioda.js') }}"></script>
    </body>
</html>
