<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="robots" content="noindex">
        <title>IODA</title>
        <meta charset="UTF-8">
        <!-- begin favicon settings -->
        <link rel="apple-touch-icon" sizes="180x180"
              href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32"
              href="/icon-32-new.png">
        <link rel="icon" type="image/png" sizes="16x16"
              href="/icon-16-new.png">
        <link rel="manifest" href="/site.webmanifest?v=69PqBbWL25">
        <link rel="shortcut icon" href="/favicon.ico">
        <meta name="apple-mobile-web-app-title" content="IODA">
        <meta name="application-name" content="IODA">
        <meta name="theme-color" content="#ffffff">
        <!-- end favicon settings -->
{#        Viewport #}
        <meta name="viewport" content="width=device-width, initial-scale=1">
{#        Stylesheet #}
        <link rel="stylesheet" href="{{ asset('build/ioda.css') }}">
        <link rel="stylesheet" href="{{ asset('build/style.css') }}">
{#      Check if browser is IE 8 or below and serve the not supported page if so #}
        <script>
            /*
             * documentMode is an IE-only property
             * https://www.w3schools.com/jsref/prop_doc_documentmode.asp
             * Script to check if browser is Internet Explorer 10 or lower
             */
            let msie = document.documentMode;
            // IF IE , redirect to browser not supported page
            if (msie) {
                console.log(process.env.PUBLIC_URL);
                console.log("here1");
                window.location.href = process.env.PUBLIC_URL + "/browserNotSupported.html";
            }
            if (msie) {
                console.log(process.env.PUBLIC_URL);
                console.log("here2");
                window.location.href = "https://dev.v2.ioda.caida.org/browserNotSupported.html";
            }
            if (msie) {
                console.log("here3");
                window.location.href = "%PUBLIC_URL%/browserNotSupported.html";
            }
        </script>
    </head>
    <body>
        <div id="root">
            <div class="contentLoading">
                <img width="180" src="/apple-touch-icon.png" alt="IODA logo" />
                <div class="contentLoading__progressBar progress-bar-striped">
                    <div style="width: 100%;">
                        <strong>Loading...</strong>
                    </div>
                </div>
            </div>
        </div>
        <script src="{{ asset('build/ioda.js') }}"></script>
    </body>
</html>
