.search {
  &__result {
    background-color: $color-white;
    margin-bottom: 0.5rem;
    color: $color-black;
    padding: 2rem 3rem 0 5rem;
    font-family: $font-lato;
    border-radius: 0.5rem;
    border: 1px solid $color-white;
    border-bottom: none;
    position: relative;
    display: flex;
    flex-direction: row;
    min-height: 10rem;
    box-shadow: 1px 1px 1px 0 #ccc;

    &--dataset { @include searchResultCard($color-filter-datasets); }
    &--entity { @include searchResultCard($color-filter-entities); }
    &--join { @include searchResultCard($color-filter-joins); }
    &--paper { @include searchResultCard($color-filter-papers); }
    &--tag { @include searchResultCard($color-filter-tags); }

    &-letter {
      position: absolute;
      top: 0.5rem;
      left: 0.8rem;
      font-weight: 700;
      color: $color-white;
      writing-mode: vertical-rl;
      text-orientation: upright;
      text-transform: uppercase;
      font-size: 1rem;
      letter-spacing: -0.2px;
    }

    &-logo {
      width: 6rem;
      height: auto;
    }

    &-headline {
      font-weight: 700;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &-name {
      font-size: 1.9rem;
    }

    &-tags {
      text-transform: uppercase;
      font-size: 1.2rem;
      text-align: right;
      max-width: 20rem;
      letter-spacing: 1px;
      margin-top: -0.5rem;
      font-weight: 700;
      margin-left: auto;
      width: calc(100% + 3rem);

      & p {
        margin-bottom: 0.5rem;
      }
    }

    &-description {
      font-weight: 300;
      margin-bottom: 0;
      @include multiLineEllipsis($lineHeight: 1.42857143rem, $lineCount: 3, $bgColor: $color-white);
      margin-right: 3rem;
    }

    &-entities {
      display:flex;
      flex-direction: row;
      justify-content: left;
      margin-left: 2rem;
      margin-bottom: 1rem;
    }

    &-entity {
      display: flex;
      flex-direction: column;
      width: max-content;
      margin-top: 1rem;

      &:not(:last-child) {
        margin-right: 0.5rem;
      }

      &-display {
        display: flex;
        flex-direction: row;
        justify-content: left;
        padding: 0.3rem 0.5rem 0.3rem 2.5rem;
        border-radius: 0.5rem;
        border: 0.1rem solid $color-background-white;
        background-color: $color-background-white;
        position: relative;
        align-items: center;
        overflow: hidden;

        &:before {
          content: "";
          height: 5rem;
          width: 3rem;
          transform: rotate(45deg);
          top: -2.3rem;
          left: -2.0rem;
          background-color: $color-filter-entities;
          position: absolute;
          box-shadow: 0 2px 3px #333;
        }

        &:not(:last-child) {
          margin-right: 0.5rem;
        }
      }

      &-display:hover + .search__result-entity-feature-modal {
        display: block;
        opacity: 1;
        transition: 0.6s ease-in-out;
      }

      &-name {
        font-weight: 700;
        margin-right: 0.3rem;
      }

      &-additional {
        display: flex;
        flex-direction: row;
      }

      &-feature {
        position: relative;
        z-index: 5;
        margin-left: 0.5rem;

        &-additional {
          margin-right: 0.5rem;
          display: flex;
          flex-direction: row;
        }

        &-control {
          background-color: $color-filter-entities;
          border-radius: 10rem;
          color: $color-white;
          font-size: 1.8rem;
          line-height: 1;
          width: 1.9rem;
          font-weight: 700;
          margin-bottom: 0.2rem;
          margin-left: 0.5rem;
          display: flex;
          justify-content: center;
        }

        &-modal {
          background-color: $color-background-white;
          top: 2.1rem;
          left: 0;
          z-index: 10;
          display: none;
          opacity: 0;
          margin-right: 0.5rem;
          border-radius: 0.5rem;
          max-width: 20rem;

          &-item:not(:last-child) {
            margin-right: 0.5rem;

            &:after {
              content: ", ";
              position: relative;
              height: 100%;
              width: 0.5rem;
            }
          }
        }
      }
    }

    &-joins {
      display:flex;
      flex-direction: row;
      justify-content: left;
      margin-left: 2rem;
      flex-flow: wrap;
    }

    &-join {
      display: flex;
      flex-direction: row;
      justify-content: left;
      padding: 0.3rem 0.5rem 0.3rem 2.5rem;
      border-radius: 0.5rem;
      border: 0.1rem solid $color-background-white;
      background-color: $color-background-white;;
      position: relative;
      align-items: center;
      overflow: hidden;
      margin-top: 0.5rem;

      &:before {
        content: "";
        height: 5rem;
        width: 3rem;
        transform: rotate(45deg);
        top: -2.3rem;
        left: -2.0rem;
        background-color: $color-filter-joins;
        position: absolute;
        box-shadow: 0 2px 3px #333;
      }

      &:not(:last-child) {
        margin-right: 0.5rem;
      }

      &-plus {
        font-weight: 700;
        color: $color-filter-joins;
      }
    }
  }
}

.entity {
  &__detail {
    display: flex;
    flex-direction: column;
  }

  &__feature {
    display: flex;
    flex-direction: row;

    &-item {
      & span {
        display: flex;
        flex-direction: row;
        justify-content: left;
        padding: 0.3rem 0.5rem;
        border-radius: 0.5rem;
        border: 0.1rem solid $color-background-white;
        background-color: $color-background-white;
        position: relative;
        align-items: center;
        overflow: hidden;
      }

      &:not(:last-child) {
        margin-right: 0.5rem;
      }
    }
  }

  &__related {
    margin-top: 1rem;

    &-item {
      display: flex;
      flex-direction: row;
      justify-content: left;
      padding: 0.3rem 0.5rem 0.3rem 2.5rem;
      border-radius: 0.5rem;
      border: 0.1rem solid $color-background-white;
      background-color: $color-background-white;
      position: relative;
      align-items: center;
      overflow: hidden;
      width: fit-content;

      &--dataset span {
        font-weight: 700;
        font-size: 1.6rem;

        &:before {
          content: "";
          height: 5rem;
          width: 3rem;
          transform: rotate(45deg);
          top: -2.3rem;
          left: -2.0rem;
          background-color: $color-filter-datasets;
          position: absolute;
          box-shadow: 0 2px 3px #333;
        }
      }
    }

    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  }
}
