.modal {
  background: $color-background-white;
  position: fixed;
  top: 20vh;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid $color-table-cell-border;
  box-shadow: $box-shadow;
  width: $grid-width;
  z-index: 1000;
}
