.modal {
  background: $color-background-white;
  position: absolute;
  top: 20vh;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid $color-table-cell-border;
  box-shadow: $box-shadow;
  width: calc(100% - 9rem);
  z-index: 1000;
  overflow-y: auto;
}
