#hijacks.container-fluid {
    margin-left: 50px;
    margin-right: 50px;
}

#hijacks > .row {
    margin-bottom: 20px;
}

#hijacks .stats-header {
    margin-top: 100px;
}

/* acks panel */
#hijacks .acks {
    width: 260px;
    padding-bottom: 20px;
}

#hijacks .acks > h2 {
    margin-top: 0;
}

#hijacks .ack-logos a {
    font-size: 22px;
    font-weight: bold;
    color: #2c3e50;
}

#hijacks .ack-logos .row {
    margin-top: 40px;
}

#hijacks .ack-logo {
    max-width: 80%;
    max-height: 80px;
}
