body {
  font-family: 'Lato-Regular', sans-serif;
  line-height: 1.7;
}

.section-header {
  font-family: 'Lato-Bold', sans-serif;
  font-size: 2.6rem;
}

.heading-h1 {
  color: $color-primary;
  font-size: 3rem;
}

.heading-h2 {
  font-size: 1.8rem;
  color: $color-primary;
}

.heading-h3 {
  font-size: 1.5rem;
  color: $color-primary;
  margin-bottom: 1rem;
}

@font-face {
  font-family: "Lato-Black";
  src: url("/fonts/Lato-Black.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Lato-Bold";
  src: url("/fonts/Lato-Bold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Lato-Italic";
  src: url("/fonts/Lato-Italic.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Lato-Light";
  src: url("/fonts/Lato-Light.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Lato-Regular";
  src: url("/fonts/Lato-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Lato-Thin";
  src: url("/fonts/Lato-Thin.woff") format("woff");
  font-display: swap;
}
