body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

.section-header {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 2.6rem;
}

.heading-h1 {
  color: $color-primary;
  font-size: 3rem;
}

.heading-h2 {
  font-size: 1.8rem;
  color: $color-primary;
}

.heading-h3 {
  font-size: 1.5rem;
  color: $color-primary;
  margin-bottom: 1rem;
}
